<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
        <main id="app">
          <h3>{{ title }}</h3>

          <div class="text-box">
              <form @submit.prevent="addTodo">
                <label for="newTodo"></label>
                <input v-model="newTodo" type="text" name="newTodo" id="newTodo" placeholder="やる事">
                <button type="submit" name="button">add</button>
              </form>
              <button @click="allDone" type="submit" name="button">all remove</button>
          </div>

          <ul>
            <li v-for="(todo,index) in todos" :key="index">
              {{ index + 1 }}
              <input type="checkbox" v-model="todo.done">
              <span :class="{done: todo.done}">{{ todo.title }}</span>
              
              <select>
                  <option  value="">...</option>
                  <option v-for="(option,index) in options" :value="option.name" :key="index">
                      {{ option.name }}
                  </option>
              </select>
              <button @click="deleteTodo(index)"　v-if="todo.done">delete</button>
            </li>
          </ul>
        </main>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
  </body>
</html>
