
.element,
.element img {
    width: 500px;
    height: 600px
}

body{
    background: url(/ボツ/img/japanese.jpg);
    background-repeat: no-repeat;
}
.menu{
    z-index: 1000;
}

.btn1{
    width: 100px;
    position: absolute;
    right: 0;
    text-align: center;

}

.stm{
    position: absolute;
    bottom: -15vh;
    right: -180px;
}

#container{
    position: relative;
}

.bb{
    border:1px solid;
}