
.element,
.element img {
    width: 500px;
    height: 600px
}

body{
    background: url(/3D-washop/img/bard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.menu{
    z-index: 1000;
}

.btn1{
    width: 100px;
    position: absolute;
    right: 0;
    text-align: center;

}


#container{
    position: relative;
}

.bb{
    border:1px solid;
}

body{
    font-family:Sawarabi Mincho !important;
}

section{
    margin-top: 6em;
}