@charset "utf-8";

.pointer {
    cursor: pointer;
}

/* 既存CSSを上書き */
.disabled {
    /* cursor: not-allowed; */
}

.list-item-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.image-laoyut {
    height: 150px;
}

.image-laoyut img {
    height: 100%;
    width: auto;
}

.bg-rgiht-blue {
    background: #dcedf6;
}