.toilet-box{
        width:30rem;
        height: 30rem;
        background: rgb(104, 98, 98);
        
        margin: auto;


        .toilet-view{
                img{
                        width: 100%;
                }
        }

        .button{
                width: 50%;
                margin: auto;
                display: flex;
                justify-content: center;

                button{
                        padding: 2rem;
                        margin: 1rem;
                        border-radius: 50%;

                }
        }
        
}

#wrap {
        position: relative;
        width: 100%;
        max-width: 318px;
        margin: auto;
    }
    .toilet-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 600px;
        height: 200px;
        background: #E74C3C;
    }