#menu {
    position: absolute;
    width: calc(100% - 10px);
    left: 10px;
    bottom: 10px;
    text-align: left;
    ;
}

button {
    color: #20baee;
    background: 0 0;
    outline: #20baee solid 1px;
    border: 0;
    padding: 5px 10px;
    cursor: pointer
}
button:hover {
    background-color: rgba(0, 255, 255, .2)
}
button:active {
    color: #000;
    background-color: #f54635
}

.element,
.element img {
    width: 390px;
    height: 225px
}
