<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Vue.js</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div id="Vue">

  <div class="bg-primary overflow-hidden p-3"> <!--書籍アプリ-->
  <div class="h1 text-white float-left">書籍アプリ</div>
  <button type="button" class="btn btn-primary border border-white float-right p-3 col-xs-3 text-center">bookmark</button>
 </div> <!--書籍アプリ-->
  <div class="contents p-3 overflow-hidden">
 <div class=" overflow-hidden  p-3"> <!--検索box-->
    <input  class="border border-primary p-3 col-8  col-md-6 float-left" v-model="message" placeholder="edit me">
    <!-- Message is: {{ message }} -->
    <button type="button" class="btn btn-primary border border-white float-right p-3 col-4  col-md-2 bg-info float-right　text-center">search</button>


    </div> <!--検索box-->
    <div class="border">
      <div id="app">
        <!-- <p v-cloak>
            <input v-model.number="limit">件を表示する
        </p> -->

        <ul class="p-0">
          
            <li class="list-unstyled col-xs border overflow-hidden" v-for="item in list " :key="item.id">
              <h6 class="col-xs  p-3 small">ゲームを作りながら楽しく学べるPythonプログラミング</h6>
              <div class="col-xs-4 float-left m-2"><img :src=item.image width="110" height="150" class=""></div>
              <div class="col-xs-4 float-rigth small m-3">
              書籍名{{ item.title }} <br><br>
              著者{{ item.author }}<br>
              値段{{item.price}}円<br>
              発売日{{item.release_date}}<br>
              <button class="btn btn-primary" type="submit">ブックマーク</button>
            </div>
            
            </li>
        </ul>

      </div>


    </div>

 </div> <!--contenrs-->

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./index.js"></script>
</body>
</html>