<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <div id="app" class="container m-3">
        <div class="product row ">

            <div class="product-image col-3 offset-2">
                <img :src="image" class="img-thumbnail">
            </div>

            <div class="product-info col-3 offset-2">
                <h2 v-show=" inventory > 10 ">ON SALE!!!</h2>  
                <h1>{{ title }}</h1>
                <div v-if="inventory > 10">in stock</div>
                <div v-else-if="inventory <= 10 && inventory > 0">almost sold out!</div>
                <div v-else :class="{outStock: !instock}">out of stock</div>

                <ul>
                  <li v-for="detail in details">{{ detail }}</li>
                </ul>

                
                <div v-for="variant in variants" :key="variant.id" class="color-box" :style="{background:variant.color}" @mouseover="pointerColor(variant.image)">
                </div>
                
                <div class="row">
                <button type="button" class=" col-4" @click="addCart" :disabled="!instock"  :class="{disabledBtn: !instock }" >add cart</button>
                <button type="button" class="btn btn-primary offset-1 col-4 " @click="removeCart">remove cart</button>
                <p class="col-6">cart( {{ cart }} )</p>
                </div>

            </div>

            

        </div>
    </div>


    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>