.color-box{
    width: 40px;
    height: 40px;
    margin: 5px;
}

.disabledBtn{
    /* background: rgb(212, 120, 120); */
    background: black;
    color: pink;
    border: 5px solid;
    display: block;
}

.aa{
    font-size: 20px;
}
.outStock{
    text-decoration: line-through;
}